<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">
  <targets>
    <target xsi:type="File"
            name="errorsFile"
            fileName="${environment:variable=CLINICMANAGER_LOG_DIR}/errors.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="ClinicManager.*"
            minlevel="Error"
            writeTo="errorsFile"
            final="true" />
    <logger name="Program" minlevel="Error" writeTo="errorsFile" />
  </rules>
</nlog>
